.mainPage {
    padding-bottom: 24px;
}
/* Banner */

/* New Products */
.newProducts,
.bestSeller,
.onSale {
    width: 80%;
    margin: auto;
}
.title-name {
    font-size: 24px;
    padding: 24px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 500;
}