.product-detail-container{
    background-color: #eeeeee;
    padding: 20px 150px 20px 150px;
}
.total-product{
    background-color: white;
    display: flex;
    padding: 30px;
    border-radius: 20px;
    justify-content: space-evenly;
}
.product-img{
    flex:2;
    
    width: 45%;
    
}
.product-info{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    justify-content: space-between;
}
.line{
    background-color: bisque;
    height: 2px;
    width: 100%;
}
.decrease-price{
    color: red;
}
.buy-btn {
    background-color: #6851A8;
    color: white;
    border-radius: 5px;
    padding: 8px;
    width: 35%;
    margin-right: 40px;
    line-height: 18px;
}
.add-cart{
    text-align: center;
}
.btn-footer{
    display: flex;
    width: 100%;
    height:40px;
}
.section-title{
    margin: 30px 0;
}

.detail{
    background-color: white;
    padding: 30px 150px;
    border-radius: 20px;
    text-align: justify;
}
.related-products{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    justify-content: space-evenly;
}
.img-detail{
    width: 100%;
    text-align: center;
    display: block;
    margin: 10px auto;
}